{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="../static/assets/css/card.css">
{% endblock style %}

{% block body %}
<div class="mr" style="background: linear-gradient(225deg,#559090,#ebf0f0);">
  <div class="row" data-aos="fade-up">
    <div class="section-title" style="margin-top: 100px;">
      <h2>About Us</h2>
    </div>
    <p style="text-align: center; padding: 50; "><strong>“Multi-Author Multi-Blog using E-Authentication”</strong>
      application has been developed to override the problems prevailing in practicing manual system. This software is
      supported to eliminate and in some cases reduce the hardships faced by existing system. Moreover this system is
      designed for particular need of the company to carry out operations in smooth and effective manner.

      The purpose of multi author blogging system is to automate the existing manual system by help of computerized
      equipments and full-fledged computer software, fulfilling their requirements so that their data/information can be
      stored for longer period with easy accessing and manipulation of the same. The required software and hardware are
      easily available and easy to work with.

      Multi blogging system as described can error free, secure, reliable and fast management system. It can assist the
      user to concentrate on their other activities rather to concentrate on record keeping. Thus it will help the
      organization in better utilization of resources. It is a user friendly online multi user multi blogging system.
    </p>
    <div class="section-title">
      <h4>Creaters</h4>
    </div>

    <div class="container3" style="margin:auto;margin-top: 20px;margin-bottom: 120px; background: whitesmoke;">
      <div class="img-container3">
        <img src="#" alt="profile photo">
      </div>
      <p class="full-name"  style="color: black;">Blogsite</p>
      <p class="role"  style="color: black;">Blogging Platform</p>
      <p class="description"  style="color: black;">
      </p>
      <div class="social-container3" >
        <a href="#" ><button><i class="fab fa-github"></i></button></a>
        <a href="#"><button><i class="fab fa-linkedin"></i></button></a>
        <a href="#"><button><i class="fab fa-instagram"></i></button></a>
      </div>

    </div>

  </div>
</div>
</div>
</div>
</div>
</div>

{% endblock body %}